<div class="accountPage", style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
  <div class="accountMain">
    <div class="accountPageBox">
      <h2>マイページ</h2>
      <div class="accountPageBoxForm">
        <div class='UserInfomation__userImage'>
          <i class="fas fa-user-circle"></i>
        </div>
        <span class='UserInfomation__username'>
          <a href="/users/<%= current_user.id %>">
            <%= current_user.name %>
          </a>
        </span>
      </div>
      <div class='followView'>
        <div class="followView__follow">○○フォロー
        </div>
        <div class="followView__follow">○○フォロワー
        </div>
      </div>
      <div class="postcount">
        投稿数 <%= @posts.length %>
      </div>
    </div>
  </div>
</div>