.jobInfomation {
  .pageTop {
    display: flex;
    justify-content: center;
  }
  &__industry {
    display: flex;
    justify-content: center;
  }
}

.formLavel {
  margin-top: 15px;
}
.top {
  margin-top: 40px;
}

.jobForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  &__title {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
  &__campany {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
  &__image {
    display: flex;
    flex-direction: column;
  }
  &__feature {
    width: 30vw;
    display: flex;
    flex-direction: column;
    &__input {
      height: 40vh;
    }
  }
  &__recruitment {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
  &__conditions {
    width: 30vw;
    display: flex;
    flex-direction: column;
      &__appConditionInput {
        height: 30vh;
      }
  }
  &__workInformation {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
  &__button {
    width: 30vw;
    display: flex;
    justify-content: center;
    text-align: center;
    &--icon {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 50px 0;
      width: 20vw;
      height: 5vh;
    }
  }
}