* {
  box-sizing: border-box;
}

.MainSpace {
  color: #000000;
  height: 100%;
  width: 100%;
}

.MainHeader {
  background-color: #808080;
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  &__applicationName{
    width: 300px;
    display: flex;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__iconList {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-top: 5px;
  }
  &__Icon {
    margin-left: 5px;   
  }

}

.SearchSection {
  background-color: #222222;
  color: #ffffff;
  height: 400px;
  width: 100%;
}
.SearchBackgroundImage {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
}

.ApplicationKeyword {
  font-size: 30px;
  margin-top: 30px;
}

.ApplicationIntroduce {
  font-size: 13px;
}

.SearchHeading {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
}

.SearchForm {
  &__FormBox {
    width: 100%;
    height: 30px;
  }
  &__content {
    width: 600px;
    height: 30px;
    color: #000000;
    border-radius: 5px;
    border-color: #008BBB;
  }
  &__bottum {
    margin-left: 5px;
    height: 30px;
    width: 80px;
    color: #000000;
    background-color: #FFFAFA;
    border-radius: 10px;
  }
}

.CategorySection {
  display: flex;
  justify-content: center;
  background-color: #222222;
}
.CategorySearch {
  width: 100vw;
  height: 700px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #222222;
  flex-direction: column;
}

.CategoryHeading {
  font-size: 25px;
  height: 100px;
  color: #FFFFFF;
  margin: 0 0 0 0;
  padding: 25px 0;
}



.AreaSearch {
  background-color: #222222;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  &__Name {
    font-size: 30px;
    color: #ffffff;
  }
  &__Bottum {
    font-size: 20px;
  }
}

.PresentLocationSearch {
  background-color: #4682B4;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  &__Bottum {
    font-size: 20px;
  }
}

.NewPostMessage {
  background-color: #222222;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    margin-top: 20px;
    color: #ffffff;
    background-color: #222222;
  }
}

.PostIndex {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
}

.NewPost {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #4682B4;
}

.UserInfomation {
  background-color: #222222;
  height: 50px;
  width: 600px;
  display: flex;
  align-items: center;
  a {
    color: #4682B4;
  }
  &__userImage {
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: #ffffff;
    background-color: #222222;
    text-align: center;
  }
  &__username {
    font-size: 25px;
    color: #4682B4;
    margin-left: 5px;
  }
  &__date {
    font-size: 12px;
    color: #4682B4;
    margin-left: 20px;
  }
}

.PostTitle {
  font-size: 20px;
  background-color: #222222;
  color: #ffffff;
}
.PostImage {
  border: 1px solid #000000;
  margin-top: 10px;
  height: 400px;
  width: 600px;
  color: #ffffff;
  border-radius: 20px;
}

.AreaInfomation {
  background-color: rgba($color: #000000, $alpha: 0.40);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 90px;
  size: 13px;
  margin: 5px 0 0 5px;
}

.UserIcon {
  font-size: 20px;
  color: #ffffff;
}

.AreaName {
  font-size: 15px;
  margin-left: 6px;
}
.PostDescription {
  height: 70px;
  width: 600px;
  border: 1px solid #000000;
  margin-top: 5px;
}
.ReviewBox {
  height: 30px;
  width: 200px;
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  &__LikeIcon {
    color: #ffffff;
    font-size: 20px;
  }
  &__NumberOfView {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
  }
}