.NewPostMessage {
  background-color: #222222;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    margin-top: 20px;
    color: #ffffff;
    background-color: #222222;
  }
}

.iPostIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
}

.NewPost {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #4682B4;
  border-radius: 10px;
  width: 80%;
  height: 80vh;
  margin: 50px;
}

.UserInfomation {
  background-color: #222222;
  height: 5vh;
  width: auto;
  display: flex;
  align-items: center;
  a {
    color: #4682B4;
  }
  &__userImage {
    height: 5vh;
    width: auto;
    font-size: 40px;
    color: #ffffff;
    background-color: #222222;
    text-align: center;
  }
  &__username {
    width: auto;
    font-size: 25px;
    color: #4682B4;
    margin-left: 5px;
  }
  &__date {
    width: auto;
    font-size: 12px;
    color: #4682B4;
    margin-left: 20px;
  }
}

.PostTitle {
  width: auto;
  font-size: 20px;
  background-color: #222222;
  color: #ffffff;
}
.PostImage {
  border: 1px solid #000000;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
}

.AreaInfomation {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba($color: #000000, $alpha: 0.40);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 90px;
  size: 13px;
  margin: 5px 0 0 5px;
}

.UserIcon {
  font-size: 20px;
  color: #ffffff;
}

.AreaName {
  font-size: 15px;
  margin-left: 6px;
}
.PostDescription {
  height: 70px;
  width: 600px;
  border: 1px solid #000000;
  margin-top: 5px;
}
.ReviewBox {
  height: 30px;
  width: 200px;
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  &__LikeIcon {
    color: #ffffff;
    font-size: 20px;
  }
  &__NumberOfView {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
  }
}

.page {
  background-color: #222222;
  display: flex;
  justify-content: center;
  .pageselect {
    background-color: #222222;
  }
}


div.iPostIndex div.PostImage {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: 700px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

div.iPostIndex div.PostImage:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FFA60000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(62%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.85)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.85) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.85) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.85) 100%);
  z-index: 1;
  border-radius: 3px;
}

div.iPostIndex div.PostImage .more {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 3%;
  z-index: 2;
  height: 100px;
  width: 80px;
  text-align: right;
}

div.iPostIndex div.PostImage .more:hover ul.more_list {
  display: block;
}

div.iPostIndex div.PostImage .more ul.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

div.iPostIndex div.PostImage .more ul.more_list li {
  border-bottom: 1px solid #ddd;
}

div.iPostIndex div.PostImage .more ul.more_list li:last-child {
  border-bottom: 0;
}

div.iPostIndex div.PostImage .more ul.more_list li a {
  display: block;
  padding: 5px;
}

div.iPostIndex div.PostImage .more ul.more_list li a:hover {
  background-color: #57C3E9;
  color: #fff;
}

div.iPostIndex div.PostImage p {
  position: absolute;
  left: 30px;
  right: 80px;
  bottom: 30px;
  margin: 0;
  font-size: 20px;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}