<% if comment.post.user == current_user %>
  <div class="comment_restore" data-index=<%= comment.id %>>
    <%= link_to "復元する",restore_comment_path(comment.id) %>
  </div>
  <div class="comment_delete.complete_delete" data-index=<%= comment.id %>>
    <%= link_to '完全に削除する', comment_path(comment.id) ,method: :delete %>
  </div>
<% end %>