<div class="flex-container">
  <div class="flex-slide home">
    <a class="flex-title flex-title-home">favolite</a>
    <div class="flex-about flex-about-home"><p>Click here to navigate to the home section of the website</p></div>
  </div>
  <a class="flex-slide food">
    <div class="flex-title">food</div>
    <div class="flex-about"><p>Click here to navigate to the gourmet section of the website</p></div>
  </a>
  <div class="flex-slide about">
    <a class="flex-title">shopping</a>
    <div class="flex-about"><p>Click here to navigate to the About section of the website</p></div>
  </div>
  <a class="flex-slide work">
    <div class="flex-title">nature</div>
    <div class="flex-about"><p>Listing relevant snippets of work:</p></div>
  </a>
  <a class="flex-slide contact">
    <div class="flex-title">event</div>
    <div class="flex-about"><p>Use the contact form below</p></div>
  </a>
</div>


<%# <div class='FlexSlider'>
  <ul class='FlexSlider__Slides'>
    <li class='FlexSlider__SlidePhoto'>
    </li>
    <li class='FlexSlider__SlidePhoto'>
    </li>
    <li class='FlexSlider__SlidePhoto'>
    </li>
    <li class='FlexSlider__SlidePhoto'>
    </li>
    <li class='FlexSlider__SlidePhoto'>
    </li>
  </ul>
</div> %>