<div class="newContents", style="background-image: url(<%= asset_path "NewPostImage2.jpg" %>);">
  <h3 class='newContents__message'>
    New Post
  </h3>
  <div class="newContents__container">
    <%= render 'form', post: @post %>
  </div>
</div>
<style>
#map{
  height: 50vh;
  width: 50vw;
}
</style>


<script>

  let map
  let geocoder
  let marker

  function initMap() {
    geocoder = new google.maps.Geocoder()

    mapInstance = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 35.6807527,
        lng: 139.7670716
      },
      zoom: 17
    });
  }

  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        mapInstance.setCenter(results[0].geometry.location);

        if(marker != null){
        marker.setMap(null);
        }
        marker = null;

        marker = new google.maps.Marker({
          //map→mapInstanceに変更
          map: mapInstance,
          position: results[0].geometry.location
        });

        // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
        // google.maps.Markerインスタンスを生成
        let maptitle = document.getElementById('map_maptitle');
        maptitle.setAttribute("value", inputAddress);

        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>" async defer>
</script>